@font-face {
  font-family: 'Shabnam';
  src: local('Shabnam'), url('./assets/fonts/Shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Shabnam', sans-serif;
}
